.generator {
    height: 101vh;
    width: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: inherit;
}

.generator__link {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 25px;
}