.home {
    height: 101vh;
    width: 100%;

    background-color: #F8F8F8;
    flex-direction: column;
}

.home__heading {
    font-size: 72px;

}

.home__link {
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 50px;
    text-align: center;
}