@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:  local('Raleway'), 
		local('Raleway-Regular'), 
		url('Raleway-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), 
		 local('Raleway-Bold'),
         url('Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


