@import './assets/fonts/stylesheet.css';
@import '../node_modules/normalize.css/normalize.css';


/* BASE STYLES */

body {
    font-family: 'Raleway';
}

a {
    text-decoration: none;
    color: black;
}



/* HELPERS */

.wrapper {
    max-width: 1366px;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* MAIN STYLES */

.route-container {
    position:relative;
}
.route-container>* {
    display:block;
}